.App {
  font-family: "Roboto";
  font-size: 24px;
}

.Place {
  height: 4em;
}

.Place div {
  display: inline-block;
}

.Place .name {
  width: 50%;
  font-weight: bold;
  /*border-right: 1px solid black;*/
}

.Place .time {
  width: 48%;
  text-align: right;
}

.PlaceList {
  position: fixed;
  width: 360px;
  left: calc(50% - 180px);
  margin: auto;
  padding-top: 3em;
}

.PlaceTimeline {
  height: 4em;
}

.Slider {
  position: absolute;
}
.Slider .spanner {
  height: 100px;
  width: 1100vw;
}

.centerline {
  position: fixed;
  left: 50vw;
  border-left: 1px solid rgba(0,0,0,0.2);
  height: 100%;
}
